p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.btn {
  min-width: 230px;
}

.fa-small {
  font-size: 16px !important;
}

.btn-flaat {
  float: left;
  margin-right: 10px;
}

.image-small {
  width: 180px;
}

#passwordIcon {
  margin-top: 40px !important;
}

#passwordIcon:hover {
  cursor: pointer;
}